- template files are managed in groups of files versioned in gists
- general memories need to be centrally versioned in this repository under the `memory/` dir
    - These are published as groups of files versioned in gists
- justfile modules are available at just.arusty.dev/modules/**/justfile
- justfiles are centrally managed in github.com/aRustyDev/just
- schemas are centrally managed in github.com/aRustyDev/schemas
- schemas are available at schemas.arusty.dev/
- any cloned repo should
    - be tagged with `tag` cli (https://github.com/jdberry/tag/)
    - have a `git note` applied to the root commit of the main branch w/ 'id: <uuidv4>'
    - have `git config project.id` set to the same value as the `git note`
